<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TxtInterfaces.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TxtInterfaces.Properties.Settings.VFTXT_IFACESConnectionString1"
            connectionString="Data Source=veat2atxtsqlqa\sql_whs_qa;Initial Catalog=VFTXT_IFACES;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TxtInterfaces.Properties.Settings>
            <setting name="CustTypes" serializeAs="String">
                <value>|FR|KA|OTH</value>
            </setting>
            <setting name="SAPReqSeg" serializeAs="String">
                <value>@TIM|DIS_PB|DIS_RO|WHS_PB|WHS_RO@VAN|WHS_PB|WHS_RO@TTV|DIS_PB|DIS_RO|WHS_PB|WHS_RO</value>
            </setting>
            <setting name="SAPSsn" serializeAs="String">
                <value>@TIM|45FW|45SS@VAN|30F0|50F0|30H0|50H0|30S0|50S0@TTV|45FW|45SS</value>
            </setting>
            <setting name="TxtChannel" serializeAs="String">
                <value>@TIM|DE|DS|WH@VAN|DS|WH@TTV|DE|DS|WH</value>
            </setting>
            <setting name="TxtOrderType" serializeAs="String">
                <value>@TIM|PS|RO@VAN|PS|RO@TTV|PS|RO</value>
            </setting>
            <setting name="TxtCust" serializeAs="String">
                <value>@TIM|DE_OTHER|DS_OTHER|WH_OTHER@VAN|DS_OTHER|WH_OTHER@TTV|DE_OTHER|DS_OTHER|WH_OTHER</value>
            </setting>
        </TxtInterfaces.Properties.Settings>
    </userSettings>
</configuration>